HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
_book
.settings
.project
.classpath
.springBeans
target
bin
classpath-data.json
sts-cache

# Compiled class file
*.class
*.classpath
*.factorypath
*.flattened-pom.xml

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

hs_err_pid*

# IDE Files #
*.iml
.idea
.idea/
.project
.settings
target
.DS_Store
/.metadata/

# nodejs
node
dist
node_modules

/.vertx/

